body {
  background-image: url(blue-sky.jpg);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center right;
}
section {
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 50px;
  width: 1000px;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  background: linear-gradient(to top, #c4efff 0%, #89b8ed 75%);
}
form {
  text-align: left;
}
input {
  background: #89b8ed;
}
input::placeholder {
  text-align: right;
  font-size: smaller;
  font-family: "Rubik", sans-serif;
  background-color: #89b8ed;
  color: white;
}
button {
  background: transparent;
  border: none;
}
button:hover {
  color: white;
}
a {
  color: #35458c;
}
a:hover {
  color: #4392db;
  cursor: pointer;
}
.container {
  text-align: center;
  margin-top: 60px;
}
.divider {
  color: black;
}
.default-location {
  text-transform: capitalize;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.main-temperature {
  font-size: 135px;
  font-weight: bold;
}
.active {
  color: black;
  cursor: none;
  text-decoration: none;
}
.active:hover {
  color: black;
  cursor: none;
  text-decoration: none;
}
.row {
  font-size: 45px;
}
.col-4 {
  list-style: none;
  font-size: 30px;
}
.dates {
  text-align: left;
  font-size: 35px;
  padding: 10px auto;
  border: 10px;
}
.col-2 {
  text-align: center;
}
.weather-icon {
  font-size: 60px;
}
.daily-temperature {
  font-weight: 75%;
  font-size: 30px;
  opacity: 0.6;
}
.divider,
#fahrenheit,
#celsius {
  font-size: 55px;
}
.second-section {
  list-style: none;
  text-align: right;
  width: 1000px;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}
.third-section {
  background: linear-gradient(to top, #1d1f4a 0%, #2e3168 75%);
  color: white;
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 35px;
  width: 1000px;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}
.day-of-week {
  font-size: 35px;
}
.minimum {
  font-weight: bold;
}
.maximum {
  font-weight: lighter;
}
#main-icon {
  text-align: center;
  font-size: 70px;
}
#wind {
  text-transform: capitalize;
}
#date-update {
  font-family: "Rubik", sans-serif;
  font: 55px;
}
#page-credit {
  font-family: "Rubik", sans-serif;
}

#page-credit a {
  text-decoration: none;
}
